<div class="container mt-3">
  <div class="cards">

<% @cocktails.each do |cocktail| %>

    <% if cocktail.photo.present? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= cl_image_path cocktail.photo, height: 200, width: 300, crop: :fill %>')">

            <%= link_to cocktail.name , cocktail_path(cocktail), :class => "card-text" %>
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
            <%= link_to cocktail.name , cocktail_path(cocktail), :class => "card-text" %>
          </div>
        <% end %>

       <% end %>

      </div>
</div>


