.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  // background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('cocktail.jpg');
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
    a {
      color: #2B2D42;
      font-weight: bold;
      text-decoration: none;
    }
}
